In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

sns.set()

In [2]:
data = {'tahun':['2012-02','2012-08','2013-02','2013-08','2014-02','2014-08','2015-02','2015-08','2016-02',
                 '2016-08','2017-02','2017-08','2018-02','2018-08','2019-02','2019-08','2020-02','2020-08',
                 '2021-02','2021-08','2022-02','2022-08','2023-02'],
        'tingkat_pengangguran':[6.37,6.13,5.88,6.17,5.70,5.94,5.81,6.18,5.50,5.61,5.33,5.50,
                                5.10,5.30,4.98,5.23,4.94,7.07,6.26,6.49,5.83,5.86,5.45]}

In [3]:
df = pd.DataFrame(data)
df

       year  tingkat_pengangguran
0   2012-02                  6.37
1   2012-08                  6.13
2   2013-02                  5.88
3   2013-08                  6.17
4   2014-02                  5.70
5   2014-08                  5.94
6   2015-02                  5.81
7   2015-08                  6.18
8   2016-02                  5.50
9   2016-08                  5.61
10  2017-02                  5.33
11  2017-08                  5.50
12  2018-02                  5.10
13  2018-08                  5.30
14  2019-02                  4.98
15  2019-08                  5.23
16  2020-02                  4.94
17  2020-08                  7.07
18  2021-02                  6.26
19  2021-08                  6.49
20  2022-02                  5.83
21  2022-08                  5.86
22  2023-02                  5.45

In [5]:
pd.to_datetime(df['year'])

0    2012-02-01
1    2012-08-01
2    2013-02-01
3    2013-08-01
4    2014-02-01
5    2014-08-01
6    2015-02-01
7    2015-08-01
8    2016-02-01
9    2016-08-01
10   2017-02-01
11   2017-08-01
12   2018-02-01
13   2018-08-01
14   2019-02-01
15   2019-08-01
16   2020-02-01
17   2020-08-01
18   2021-02-01
19   2021-08-01
20   2022-02-01
21   2022-08-01
22   2023-02-01
Name: year, dtype: datetime64[ns]

# EDA

## Bagaimana Tren Pengangguran Di Indonesia tiga tahun terakhir

In [4]:
df['year']=df['year'].astype(int)

ValueError: invalid literal for int() with base 10: '2012-02'

In [ ]:
# Menambahkan data penduduk indonesia

In [ ]:
tren = df[df['year']>=2020]

In [ ]:
pend = [6925486, 9767754, 8746008, 9102052, 8402153, 8425931, 7990000]
len(pend)
tren['jml_pend'] = pend

In [ ]:
tren

In [ ]:
fig, ax1 = plt.subplots()

sns.barplot(x='tahun',y='jml_pend',data=tren, color='black', alpha=0.4,ax=ax1,edgecolor='black')
ax1.set_ylabel('Jumlah Penduduk Menganggur (Jutaan)')
ax1.spines['left'].set_color('black')
ax1.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{int(x / 1e6):,} Juta' if x != 0 else f'{x:.0f}'))
ax1.set_xlabel('Tahun')


ax2 = ax1.twinx()
sns.lineplot(data=tren, x='tahun', y='tingkat_pengangguran', color='red', ax=ax2,alpha=0.6)
ax2.set_ylabel('Tingkat Pengangguran (%)')
ax2.set_ylim(ymin=0,ymax=8)
ax2.spines['right'].set_color('red')


ax1.grid(True)
ax2.grid(False)


legend_colors = ['black', 'red']
legend_labels = ['Jumlah Penduduk Menganggur (Jutaan)', 'Tingkat Pengangguran (%)']

# Membuat list objek Patch untuk kotak warna pada legend
legend_patches = [plt.Rectangle((0, 0), 1, 1, fc=color) for color in legend_colors]

# Menampilkan legend dengan kotak warna dan penjelasan
plt.legend(legend_patches, legend_labels, loc='lower center', ncol=1, bbox_to_anchor=(0.5, -0.3))
plt.title('Jumlah dan Tingkat Pengangguran di Indonesia \n(Februari 2020 - Maret 2023)')


plt.show()